
  body{
   background-color: #625d5d; 
  }
  .mainflex{
    display:flex ;
    margin-left: 12px;;
  }
  h1{
    text-align: center;
    height: 50px;
    padding-top: 15px;
    background-color:rgb(106, 106, 133) ;
  }
  h2{
    text-align: center;
    margin-left: -320px;
  }
  .header{
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    padding: 10px;
    column-gap: 22px;
    
    
  }
  
  .task-list {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    background-color: aliceblue;
    border: 1px solid #3b3939;
    padding: 25px;
    padding-top: 3px;;
    border-radius: 5px;
  }
  .inneritem{
    /* padding:5px; */
    margin:30px;
  }
  
  button {
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  form input,
  form textarea,
  form select {
    width: 95%;
    margin: 5px 0;
    padding: 10px;
  }
  form input {
    row-gap: 232px;;
  }
  
  form button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  .ED{
    display: flex;
    justify-content: space-between;
    
  }
  .itemshow{
    display: flex;
    flex-wrap: wrap;  
    width:fit-content;  
    /* margin-left: 15px; */
    background-color: aliceblue;
  }
  .flex{
    display: flex;
    flex-wrap:wrap;
    row-gap: 12px;
    margin-left: -300px;
    column-gap: 30px;
    background-color: rgb(rgb(229, 22, 22), green, blue);
  }
  .task-ListName{
    padding-top: 40px;
  }
  .editB{
    color: white;
    border :none;
    background-color: rgb(107, 175, 107);
  }
  .deleteB{
    color: white;
    border: none;
    background-color:rgb(209, 78, 13);
  }
  
  